<div class="container">
  <div class="product-detail">
    <h3>{{selectedItem?.name }}</h3>
    <img [src]="selectedItem?.imageUrl" height="400px" width="400px" />
    <h4> Product Description </h4>
    <ul>
      <li> Material: Cotton </li>
      <li> Care Instructions: Machine Wash </li>
      <li> Fit Type: Regular Fit </li>
      <li> Daily use Cotton T-shirt </li>
      <li> Regular Fit T-Shirt </li>
      <li> You can use gentle machine wash for this product </li>
      <li> Strechable & Relax Fit, Comfort Zone you will feel with this T-Shirt in your body</li>
    </ul>
    <h4> Add Review</h4>
    <textarea placeholder="Provide your Review" rows="4" cols="100"> </textarea>
    <button type="button">Submit</button>
  </div>
</div>
