<div class="card" style="width: 18rem; float:left">
  <img
      class="card-img-top"
      [src]="productImgUrl"
      alt="Card image cap"
      (click)="onClickProduct(productId)"
      height="300">
  <div class="card-body">
    <h5 class="card-title">{{productTitle}}</h5>
    <span class="card-attr">Price: {{productPrice}}</span>
    <p class="card-text">
      Category: {{productCategory}}
    </p>
      <button class="btn btn-info" type="button" (click)="cartService.addToCart(productId)">Add to Cart</button>
</div>
</div>

